<h1>
   ---- FreeCodeCamp Basejump: Image Search Abstraction Layer by John Neill ----
</h1>
<form action="/apiSearch" method="POST">
    <label> What images would you like to search for? </label>
    <input type="text" name="search[image]" placeholder="image search">
    <label> What page number shall we start with? </label>
    <input type="text" name="search[page]" placeholder="page number">
    <input type="submit">
</form>

<form action="/apiSearch" method="POST">
    <input type="submit" value="click here to view recent searches">
    </form>

