<h1>
    FreeCodeCamp API Basejump: URL Shortener Microservice
</h1>
<form action="/urlShortener" method="POST">
    <label> Type in a URL that you would like to have shortened: </label>
    <input type="text" name="url[longUrl]" placeholder="URL">
    <input type="submit">
</form>
</div>
